[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
wheel = "*"
twine = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
pytest-black = "*"
"pytest-flake8" = "*"

[requires]
python_version = "3.7"
